<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Week09 Ponder</title>
	</head>

	<body>
		<form action="/week09_Ponder" method="post">
			<p><h1>09 Prove : Assignment - Postal Rate Calculator</h1></p>
			<br/>
			<p><h2>Your Rate:</h2></p>
			<p>Weight: <%= weight %></p>
			<p>Mail type: <%= mail %></p>
			<p>Cost: <%= cost %></p>

			<br/>
			<br/>
			<button type="submit">Return</button>
		
		</form>		
		
	</body>
</html>