
<!DOCTYPE html>
<html lang="en">
	<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CS313 - Project01 - Crypto Trader</title>
  <!-- Bootstrap core CSS-->
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" language="javascript" src="js/ajaxCalls.js"></script>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">	
		<!-- START CUSTOM HEAD AREA -->
	
		<script type="text/javascript" class="init">






	</script>
	
	<!-- CLOSE CUSTOM HEAD AREA -->
	
		</head>
		<body class="fixed-nav sticky-footer bg-dark" id="page-top" >	  <!-- Navigation-->
		<div id="intro" />
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#intro">Crypto Currencies Trader</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="introPage">
          <a class="nav-link" href="#intro">
            <i class="fa fa-exclamation-circle"></i>
            <span class="nav-link-text">Intro Page</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Crypto Currencies">
          <a class="nav-link" href="#cryptocurrencies">
            <i class="fa fa-diamond"></i>
            <span class="nav-link-text">Crypto Currencies</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Prices">
          <a class="nav-link" href="#prices">
            <i class="fa fa-money"></i>
            <span class="nav-link-text">Prices</span>
          </a>
        </li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Trading">
          <a class="nav-link" href="#trading">
            <i class="fa fa-line-chart"></i>
            <span class="nav-link-text">Trading</span>
          </a>
        </li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="History">
          <a class="nav-link" href="#history">
            <i class="fa fa-navicon"></i>
            <span class="nav-link-text">History</span>
          </a>
        </li>
      </ul>
	  
	  
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto"> 
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>	
  <div class="content-wrapper">
    <div class="container-fluid">
	<!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#intro">Intro Page</a>
        </li>
        <li class="breadcrumb-item active">Crypto Currencies</li>
      </ol>
	  
<!---------------------------------------------------------------------------------------------------->		  
	  
	  <!-- INTRO PAGE START CONTENT AREA -->
	  
	  <div >
			<h1><b>Welcome to Crypto Currency Trader</b></h1>
			<div class="panel panel-default">
				<div class="panel-body">This tool will help you control and track your trades in the Crypto Currencies world.</div>
			</div>
		</div>
	  
	  
	  
	  <!-- INTRO PAGE CLOSE CONTENT AREA -->	
	  
<!---------------------------------------------------------------------------------------------------->		  
	  

	  <!-- CRYPTOCURRENCIES START CONTENT AREA -->

<br /><hr class="hr-primary" />
<hr class="hr-primary" id="cryptocurrencies"/>
<hr class="hr-primary" /><br />

<div style="background: #ebffed" >

		<div >
			<h1><b>Crypto Currencies</b></h1>
			<div class="panel panel-default">
				<div class="panel-body">Manage the crypto coin you want to follow here</div>
			</div>
		</div>
		
		<br/>
		
		

			<input type="hidden" name="id"/>
			<div class="w-25" class="form-group">
				<label for="code">Coin Code:</label>
				<input type="text" class="form-control" name="code" id="currencyCode">
			</div>
			<br/>
			<div class="w-25" class="form-group">
				<label for="name">Coin Name:</label>
				<input type="text" class="form-control" name="name" id="currencyName">
			</div>
			<br/>
			<input type="hidden" name="clicked" value="1"/>
			<button onclick="saveCurrencyTable(document.getElementById('currencyCode').value, document.getElementById('currencyName').value)" class="btn btn-success" value="addCoin" name="btnSaveCoin">Add Coin</button>
			<button onclick="isCoinRecorded(document.getElementById('currencyCode').value)" class="btn btn-primary" value="updateCoin" name="btnUpdateCoin">Update Coin</button>
			<button type="submit" class="btn btn-danger" value="deleteCoin" name="btnDeleteCoin">Delete Coin</button>

				 
		
		<p><h3><b>Saved Coins:</b></h3></p>
		<table id="currencies" class="table table-hover table-striped table-bordered" style="width:100%">
			<thead>
				<tr>				
				<th scope="col">Coin Code</th>
				<th scope="col">Coin Name</th>
				</tr>
			</thead>

		</table>
		
</div>	
	
	<!-- CRYPTOCURRENCIES CLOSE CONTENT AREA -->	
	
	
<!---------------------------------------------------------------------------------------------------->	
	
	<!-- PRICES PAGE START CONTENT AREA -->
	
	<br/><hr class="hr-primary" />
<hr class="hr-primary" id="prices" />
<hr class="hr-primary" /><br/>
	<div >
			<h1><b>Prices</b></h1>
			<div class="panel panel-default">
				<div class="panel-body">Follow up the lastest price of your coins here.</div>
			</div>
		</div>
				<br/>
		

		<p><h4><b>Price Information:</b></h4></p>
		<p>New information available each 5 minutes.</p>
		
		
		
			<button type="submit" class="btn btn-success" value="addCoin" name="btnSaveCoin">Refresh Price Information</button>			
		
		<br/>
		<br/>
		
		<table id="priceCurrencies" class="table table-hover table-striped table-bordered" style="width:100%">
			<thead>
				<tr>				
				<th scope="col">Coin Code</th>
				<th scope="col">Coin Name</th>
				<th scope="col">USD Price</th>
				<th scope="col">Last Hour Variation</th>
				<th scope="col">Last 24hs Variation</th>
				<th scope="col">Last 7 days Variation</th>
				<th scope="col">Last Update</th>
				</tr>
			</thead>
			<tbody>


			</tbody>
		</table>
	
	  
	  
	<!-- PRICES PAGE CLOSE CONTENT AREA -->	
	  
<!---------------------------------------------------------------------------------------------------->		  
	  
	<!-- TRADING START CONTENT AREA -->
	  <br/><hr class="hr-primary" />
<hr class="hr-primary" id="trading" />
<hr class="hr-primary"  /><br/>
<div style="background: #ebffed">

	  <div >
			<h1><b>Trading Area</b></h1>
			<div class="panel panel-default">
				<div class="panel-body">Manage your wallet and record your Buy and Sell orders here</div>
			</div>
		</div>
		<br/>
		<br/>
		

		
		<!------------------------------------------- START WALLET AREA ------------------------------------------->
		<p><h3><b>YOUR WALLET</b></h3></p>
			<table id="wallet" class="table table-hover table-striped table-bordered" style="width:100%">
				<thead>
					<tr>	
					<th scope="col">Coin Code</th>
					<th scope="col">Coin Name</th>
					<th scope="col">Quantity</th>
					<th scope="col">Total Paid Value</th>
					<th scope="col">Current Price Per Unit</th>
					<th scope="col">Total Current Value</th>
					<th scope="col">Result</th>
					</tr>
				</thead>

			</table>
			
			
		<!------------------------------------------- END WALLET AREA ------------------------------------------->
			
		<br/>
		

		
		<!------------------------------------------- START BUY ORDER AREA ------------------------------------------->
		<p><h3><b>BUY ORDERS</b></h3></p>
		

		
			<div class="btn-group">	
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Select a Coin to BUY
				</button>		
				<div class="dropdown-menu">
				
		
				
				</div>				
			</div>	


		
	
		<p><h5><b>Selected coin information:</b></h5></p>
		<table id="tableSelectedBuyCoin" class="table table-hover table-striped table-bordered" style="width:100%">
			<thead>
				<tr>				
				<th scope="col">Coin Code</th>
				<th scope="col">Coin Name</th>
				<th scope="col">USD Price</th>
				<th scope="col">Last Hour Variation</th>
				<th scope="col">Last 24hs Variation</th>
				<th scope="col">Last 7 days Variation</th>
				<th scope="col">Last Update</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>	
		
		
				<input type="hidden" id="selectedCoin" name="selectedCoin"/>
				
		<?php 
		
			if($_POST['btnBuyCoin'] != ""){				
				
				$quantity = round(floatval($_POST['qtty']),4);
				$coinInfo = getCoinInfoRaw($_POST['btnBuyCoin']);				
				$lastPrice = round(floatval($coinInfo['price_usd']),4);
				

				if($quantity > 0){					
					saveBuyOrder($_POST['btnBuyCoin'], $lastPrice, $quantity);						
				}else{
					showAlert("cannot be empty or 0", "Quantity ", "danger");
				}			
			}
							
		?>
						
				<div class="input-group mb-3">
						<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">Enter quantity:</span>
						</div>
						<input type="text" name="qtty" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
						<?php echo "<button type=\"submit\" class=\"btn btn-success\" name=\"btnBuyCoin\" value=\"" . $selectedCoin . "\">Buy <b>" .  $selectedCoin . "</b> Coin</button>"?>
				</div>	


		
		<!------------------------------------------- END BUY ORDER AREA ------------------------------------------->
		
		
		<br/>
		
	
		
		
		<!------------------------------------------- START SELL ORDER AREA ------------------------------------------->
		
		
		<p><h3><b>SELL ORDERS</b></h3></p>

		
			<div class="btn-group">	
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Select a Coin to SELL
				</button>		
				<div class="dropdown-menu">
				
	
				
				</div>				
			</div>	


		
	
		<p><h5><b>Selected coin information:</b></h5></p>
		<table id="tableSelectedSellCoin" class="table table-hover table-striped table-bordered" style="width:100%">
			<thead>
				<tr>				
				<th scope="col">Coin Code</th>
				<th scope="col">Coin Name</th>
				<th scope="col">USD Price</th>
				<th scope="col">Last Hour Variation</th>
				<th scope="col">Last 24hs Variation</th>
				<th scope="col">Last 7 days Variation</th>
				<th scope="col">Last Update</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
		
				<input type="hidden" id="selectedSellCoin" name="selectedSellCoin"/>
				
		<?php 
		
			if($_POST['btnSellCoin'] != ""){				
				
				$quantity = round(floatval($_POST['qttySell']),4);
				$coinInfo = getCoinInfoRaw($_POST['btnSellCoin']);				
				$lastPrice = round(floatval($coinInfo['price_usd']),4);
				

				if($quantity > 0){					
					saveSellOrder($_POST['btnSellCoin'], $lastPrice, $quantity);						
				}else{
					showAlert("cannot be empty or 0", "Quantity ", "danger");
				}			
			}
							
		?>
						
				<div class="input-group mb-3">
						<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">Enter quantity:</span>
						</div>
						<input type="text" name="qttySell" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
						<?php echo "<button type=\"submit\" class=\"btn btn-success\" name=\"btnSellCoin\" value=\"" . $selectedSellCoin . "\">Sell <b>" .  $selectedSellCoin . "</b> Coin</button>"?>
				</div>	
		
		
		
		
		<!------------------------------------------- END SELL ORDER AREA ------------------------------------------->
	

	
	  
</div>	  
	  
	  
	<!-- TRADING PAGE CLOSE CONTENT AREA -->	
	  
<!---------------------------------------------------------------------------------------------------->	

	  
	<!-- HISTORY START CONTENT AREA -->
	<br/><hr class="hr-primary" />
<hr class="hr-primary" id="history" />
<hr class="hr-primary" /><br/>
	
	<div >
			<h1><b>History Results</b></h1>
			<div class="panel panel-default">
				<div class="panel-body">Verify your trading history and results here.</div>
			</div>
		</div>
	
		<br/>
		
		
		
		<p><h3><b>BUY ORDERS</b></h3></p>
		
		<table id="tableShowBuyOrders" class="table table-hover table-striped table-bordered" style="width:100%">
			<thead>
				<tr>				
				<th scope="col">Coin Code</th>
				<th scope="col">Coin Name</th>
				<th scope="col">Sell Price</th>
				<th scope="col">Quantity</th>
				<th scope="col">Total Value</th>
				<th scope="col">Date</th>
				</tr>
			</thead>
			<tbody>

		<!-- Retrieve Data	-->

			</tbody>
		</table>
		
		
		<br/>
		
		
		
		<p><h3><b>SELL ORDERS</b></h3></p>
		
		<table id="tableShowSellOrders" class="table table-hover table-striped table-bordered" style="width:100%">
			<thead>
				<tr>									
				<th scope="col">Coin Code</th>
				<th scope="col">Coin Name</th>
				<th scope="col">Wallet Price (Buy Price)</th>
				<th scope="col">Sell Price</th>
				<th scope="col">Quantity</th>
				<th scope="col">Total Value</th>
				<th scope="col">Result</th>
				<th scope="col">Percent Result</th>
				<th scope="col">Date</th>
				</tr>
			</thead>
			<tbody>


			</tbody>
		</table>

	
	  
	  
	<!-- HISTORY CLOSE CONTENT AREA -->	
	
<!---------------------------------------------------------------------------------------------------->		
	
	</div>	
	
	<footer class="sticky-footer">
      <div >
        <div class="text-center">
          <small>Copyright © CS313 Project01 Leonilson Lopes</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>	
	</div>

</body>
</html>
